<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <!-- 指定数据连接驱动jar地址 -
    <classPathEntry
            location="D:\repository\mysql\mysql-connector-java\5.1.38\mysql-connector-java-5.1.38.jar"/>-->
            <classPathEntry location="C:\Users\zhangyouhao\maven_repository\mysql\mysql-connector-java\8.0.28\mysql-connector-java-8.0.28.jar"/>

    <!-- 一个数据库一个context -->
    <context id="base" targetRuntime="MyBatis3" defaultModelType="conditional">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <commentGenerator>
            <property name="suppressDate" value="true"/> <!-- 是否生成注释代时间戳 -->
        </commentGenerator>

        <!--数据库链接URL，用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/store?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC"
                        userId="root" password="1234"/>

        <!-- 生成Model对象 -->
        <javaModelGenerator targetPackage="com.cy.store.mybatis.model.auto"
                            targetProject="C:\Users\zhangyouhao\Desktop\store\src\main\java">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成sqlXML文件路径配置 -->
        <sqlMapGenerator targetPackage="sqlmap.auto"
                         targetProject="C:\Users\zhangyouhao\Desktop\store\src\main\resources"/>

        <!-- 生成DAO的类文件以及配置文件 -->
        <javaClientGenerator targetPackage="com.cy.store.mybatis.dao.auto"
                             targetProject="C:\Users\zhangyouhao\Desktop\store\src\main\java"
                             type="XMLMAPPER"/>

        <!-- 社区表 -->
        <table tableName="t_user" domainObjectName="User"
        mapperName="UserMapper">
        </table>

        <!--
        <table tableName="t_community_resident" domainObjectName="CommunityResident"
        mapperName="CommunityResidentMapper">
        </table>

        <table tableName="t_community_property" domainObjectName="CommunityProperty"
               mapperName="CommunityPropertyMapper">
        </table>-->




    </context>

</generatorConfiguration>
